<script type="text/javascript" src="$content.getURI("scripts/experiments/recentExptList.js")"></script>
<div id="min_expt_list"></div>
<script type="text/javascript">
var opts = {};
opts.showExptDate = "$!siteConfig.getProperty('uiShowRecentExptListDate')" == "true"
opts.showExptScannerName = "$!siteConfig.getProperty('uiShowRecentExptListScannerName')" == "true"
opts.recent = true;

var exptList=new MinExptList("min_expt_list", opts);
exptList.init();
</script>